KV_REST_API_READ_ONLY_TOKEN="abcd"
KV_REST_API_TOKEN="abcd"
KV_REST_API_URL="https://something.upstash.io"

# Development only. Set to "false" to bypass both Redis and Next.js data caches.
CACHE_ENABLED="true"
KV_URL="rediss://default:abc@something.upstash.io:6379"
REDIS_URL="rediss://default:abc@something.upstash.io:6379"

CRON_SECRET="abcd1234"
TARKOV_DATA_SOURCE=json
